# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\result_design\design\NewVIDA\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
